@font-face {
  font-family: Raleway;
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
}

@import "tailwindcss";

* {
  @apply box-border;
}

@theme {
  --font-raleway: Raleway, sans-serif;
  --breakpoint-xs: 320px
}

body {
  width: 100vw;
  min-height: 100%;
  @apply bg-[#f7f4f1] bg-no-repeat bg-cover m-0 p-0;
}
